<!-- Wappler include head-page="layouts/main" is="dmx-app" id="index" appConnect="local" bootstrap5="local" fontawesome_4="local" bootstrap_icons="local" moment_2="local" jquery_slim_35="local" components="{dmxSlideshow:{}}" -->
<meta name="ac:route" content="/">

<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="position-relative aos-init aos-animate container-fluid" data-aos="zoom-in" data-aos-delay="100">
        <div class="row ps-5 pe-5">
            <div class="col-12">
                <h1>Learn Languages at SIL Campus<br>Become A Global Citizen</h1>
            </div>
            <div class="col-12">
                <h2>CENTRE FOR EXCELLENCE AND ACADEMIC DISCIPLINE</h2>
            </div>
            <div class="col-3"><a href="/courses.html" class="btn-get-started">Apply Online</a></div>
            <div class="col-5"><a href="/courses.html" class="btn-get-started">Application Form</a></div>
        </div>



    </div>
</section><!-- End Hero -->

<main id="main" class="container-fluid">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="aos-init container aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <img src="/assets/img/Gallery/IMG_6996.jpg" class="img-fluid" contenteditable="false">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Why Choose SIL Campus Ghana</h3>
                    <p class="fst-italic">We deliver a distinctive, innovative program and an outstanding student experience that continues to reflect on their acquired knowledge and skills.</p>
                    <ul>
                        <li class="style1">• Very well location
                            <p>• Excellent transport links across the whole city
                            </p>
                            <p>• Flexible study times
                            </p>
                            <p>• Wide range of language courses to suit all needs
                            </p>
                            <p>• Regular course counselling and advice
                            </p>
                            <p>• Helpful and welcoming staff
                            </p>
                            <p>• NaSIA Accreditation
                            </p>
                            <p>• British Council Affilition</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1232" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Students</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="64" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Courses</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="42" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Events</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Trainers</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Our Values</h3>
                        <p>Seed Institute of Languages (SIL Campus Ghana) offers first-class language teaching, supported by the latest technology.</p>
                        <p>It is homely, comfortable and welcoming, very nice building with modern learning facilities.
                        </p>
                        <p>Our student services team warmly welcomes each student and attends to all their needs.</p>
                        <p></p>
                        <div class="text-center">
                            <a href="/about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0"><i class="bx bx-receipt"></i>
                                    <h4>Excellence</h4>
                                    <p>Quality &amp; Professionalism – Exceed the Expectations</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0"><i class="bx bx-cube-alt"></i>
                                    <h4>Home away from Home</h4>
                                    <p>Determination – Failure is just another start</p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0"><i class="bx bx-images"></i>
                                    <h4>Discipline</h4>
                                    <p>preventative, supportive, and restorative.</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <!-- End Features Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="section-title">
                <h2>Courses</h2>
                <p>Popular Courses</p>
            </div>

            <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="course-item">
                        <img src="/assets/img/Gallery/IMG_6963.jpg" class="img-fluid">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>English</h4>
                            </div>

                            <h3><a href="/course-details.html">General&nbsp; &amp; Intensive</a></h3>
                            <p>English is a Lingua Franca! From beginner levels right through to the proficiency stage, prepare to speak English with our proven methods. We enable students to build the confidence and skills needed to speak English fluently.</p>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                    <div class="course-item">
                        <img src="/assets/img/Gallery/IMG_7671.jpg" class="img-fluid">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>German</h4>
                            </div>

                            <h3><a href="/course-details.html">Preparation for GOETHE Exam</a></h3>
                            <p>Whether you’re learning German for travel, work, or social reasons, our immersive language learning techniques will get you fluent fast.</p>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                    <div class="course-item">
                        <img src="/assets/img/Gallery/IMG_7523.jpg" class="img-fluid">
                        <div class="course-content">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h4>French</h4>
                            </div>

                            <h3><a href="/course-details.html">BECE &amp; WAEC Preparation</a></h3>
                            <p>Our French Courses will meet your expectations and make you progress in no time!. Our highly qualified teachers are all native French speakers and trained to deliver the same quality of teaching.</p>
                        </div>
                    </div>
                </div> <!-- End Course Item-->

            </div>

        </div>
    </section><!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/Gallery/IMG_7226.jpg" class="img-fluid">
                        <div class="member-content">
                            <h4>Agbongua Comfort</h4>
                            <span>Administrative Secretary</span>
                            <p>
                                Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/WhatsApp Image 2023-03-08 at 16.55.42.jpeg" class="img-fluid">
                        <div class="member-content">
                            <h4>Wanou Juleon</h4>
                            <span>Head of Teaching Department</span>
                            <p>
                                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/Gallery/IMG_7222.jpg" class="img-fluid">
                        <div class="member-content">
                            <h4>Isaac LOKOSSOU</h4>
                            <span>CEO / Managing Director</span>
                            <p>
                                Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                            </p>
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <section id="trainers1" class="trainers">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-12">
                    <h1 class="text-success">Our partners</h1>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/Logo%20Partners/download.jpg" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/Logo%20Partners/WhatsApp Image 2023-03-08 at 01.25.07.jpeg" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/Logo%20Partners/Right Track Education logo.png" class="img-fluid">
                        <div class="member-content">
                            <div class="social">
                                <a href=""></a>
                                <a href=""></a>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <img src="/assets/img/Logo%20Partners/RTE logo.png" class="img-fluid">
                        <div class="member-content">
                            <div class="social">
                                <a href=""></a>
                                <a href=""></a>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Trainers Section -->

</main>